@keyframes drop {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    40% { 
        opacity: 0,5;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
  }