@keyframes peopleMoving {
    0% {
        opacity: 0%;
        transform: scale(1.5) translateY(40%);
    }

    20% {
        transform: scale(1.4) translateY(30%) rotate(-5deg);
    }

    40% {
        opacity: 100%;
        transform: scale(1.3) translateY(20%) rotate(5deg);
    }

    60% {
        transform: scale(1.2) translateY(10%) rotate(-5deg);
    }

    80% {
        transform: scale(1.1) translateY(0%) rotate(5deg);
    }

    100% {
        transform: scale(1) translateY(-10%) rotate(0deg);
        opacity: 100%;
    }
}

@keyframes leafMoving {
    0% {
        transform: skew(0deg 0deg);
    }

    25% {
        transform: skew(5deg -5deg);
    }

    50% {
        transform: skew(0deg 0deg);
    }

    75% {
        transform: skew(-5deg 5deg);
    }

    100% {
        transform: skew(0deg 0deg);
    }
}