@keyframes man_colourchange {
    0% {
        fill: white;
    }
    100% {
        fill: royalblue;
    }
}
@keyframes man_colourchange_dark {
    0% {
        fill: white;
    }
    100% {
        fill: wheat;
    }
}