// Colours
$TextColour: black;
$scrollBar: #1f1f1f;
$ScrollBarBackground: #f1f1f1;

// Animation Durations:
$TitleDuration: 6s;

// Fonts
@mixin title_font {
    font-family: 'Dancing Script', cursive;
}

@mixin body_font {
    font-family: 'Bitter', serif;
}