// Colours
$TextColour: black;
$scrollBar: #80ebb9;
$ScrollBarBackground: #f1f1f1;
$defaultBackground: #fff;

// Animation Durations:
$TitleDuration: 6s;

// Fonts
@mixin title_font {
    font-family: 'Dancing Script', cursive;
}

@mixin body_font {
    font-family: 'Bitter', serif;
}