html,
body {
    color: $TextColour;
    @include body_font;
    height: 100.1vh;
    width: 100%;
    padding: 0;
    margin: 0;
    user-select: none;
    -moz-user-select: none;
}

* {
    user-select: none;
    -moz-user-select: none;
}
@mixin coverPage {
    position: absolute;
    display: grid;
    width: 100%;
    height: 101vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
}

// Hides element from viewport
.fadeOut {
    animation: fadeOut 1s forwards !important;
}

.fadeIn {
    animation: fadeIn 1s forwards !important;
}

.hidden {
    opacity: 0;
    display: none !important;
}

// Hide scrollbar
::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.anim_title {
    animation: curly_entry $TitleDuration forwards;
    animation-delay: .5s;
}

.anim_author {
    animation: author_entry ($TitleDuration - 1) forwards;
    animation-delay: 1s;
}

.anim_information {
    animation: information_entry $TitleDuration forwards;
    animation-delay: ($TitleDuration + 1);
}

.anim_arrow {
    animation: arrow_loop ($TitleDuration / 2) infinite;
    animation-delay: ($TitleDuration + 1);
}

.anim_people {
    animation: peopleMoving 5s forwards ease;
    animation-delay: 1s;
}

.introduction {
    @include coverPage;

    * {
        transition: .5s;
    }

    .introduction__title {
        font-size: 4em;
        font-weight: 400;
        @include title_font;
        opacity: 0;
    }

    .introduction__author {
        font-size: 1.5em;
        font-weight: 200;
        opacity: 0;
    }

    .introduction__background {  
        width: 100vw;
        height: 100vh;
        background-color: $defaultBackground;
        position: absolute;
        z-index: 10;
    }

    .introduction__preloader {
        opacity: 1;
        font-weight: 400;
        font-size: 3em;
        z-index: 11;
    }

    .introduction__information {
        opacity: 0;
        font-weight: 400;
        font-size: 2em;
    }

    .introduction__arrow {
        width: 2em;
        opacity: 0;
    }
}

.loadingOverlay {
    position: fixed;
    bottom: 1em;
    left: 1em;
    width: 10vw;
    height: 2em;
    z-index: 8;

    #loadingOverlay__progress {
        width: 100%;
        height: 100%;
        background-color: $ScrollBarBackground;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);

        #loadingOverlay__slide {
            position: fixed;
            text-align: center;
            width: 10vw;
            bottom: .5%;
        }
    }

    #loadingOverlay__progress__bar {
        width: 0;
        height: 100%;
        transition: width .2s;
        background-color: $scrollBar;
    }

    .loadingOverlay__progress__bar--ready {
        background-color: $scrollBar--ready !important;
    }
}

.slide {
    @include coverPage;

    .slide__narration {
        opacity: 0;
        text-align: center;
        position: fixed;
        width: 100%;
        color: $NarratorColour0;
        font-weight: 400;
        font-size: 3em;
        z-index: 10;
    }
}

#slide0 {
    .slide0__background {
        width: 100vw;
        height: 101vh;
        background: url("../Img/slide0_background--desktop.png");
        background-size: cover;
        background-position: center;
    }

    .slide0__people {
        position: absolute;
        width: 100%;
        height: 100%;
        display: grid;
        justify-content: center;
        align-content: center;

        img {
            height: 33vh;
            opacity: 0;
        }
    }

    .slide0__trees {
        position: absolute;
        width: 100%;
        height: 100vh;

        svg {
            position: fixed;
            top: 20vh;
            left: 4vw;
            width: 30vh;
            overflow: visible;
        }

        .slide0__trees--right {
            top: 40vh;
            right: 7vw;
            left: initial;
        }
    }

    #leaf {
        animation: leafMoving 6s infinite;
    }


    .slide__narration {
        margin-bottom: 50vh;
    }
}

#credits {
    .credits__title {
        font-size: 4em;
        font-weight: 100;
        @include title_font;
    }

    .credits__name {
        font-size: 2em;
        font-weight: 200;
    }
}

// Desktops, large screens
@media screen and (max-width: 1200px) {}

// Small screens, laptops
@media screen and (max-width: 1024px) {}

// iPads, Tablets
@media screen and (max-width: 768px) {
    #slide0 {
        .slide0__background {
            background: url("../Img/slide0_background--tablet.png");
            background-size: cover;
            background-position: center;
        }

        .slide__narration {
            margin-bottom: 70vh;
        }
    }
}

// Mobile devices
@media screen and (max-width: 480px) {
    .introduction {

        .introduction__information {
            font-size: 1.5em;
        }
    }

    .loadingOverlay {
        width: 90vw;
        left: 5vw;
        bottom: 5vw;
        height: 1.5em;

        #loadingOverlay__progress {
            #loadingOverlay__slide {
                left: 0;
                width: 100%;
            }
        }

    }

    #slide0 {
        .slide0__background {
            background: url("../Img/slide0_background--mobile.png");
            background-size: cover;
            background-position: center;
        }

        .slide__narration {
            margin-bottom: 70vh;
        }
    }
}