html, body {
    color: $TextColour;
    @include body_font;
    height: 100%;
    padding: 0;
    margin: 0;
}

.introduction {
    position: absolute;
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;

    .introduction__title {
        font-size: 4em;
        font-weight: 400;
        @include title_font;
        animation: curly_entry $TitleDuration forwards;
        opacity: 0;
        animation-delay: .5s;
    }

    .introduction__author {
        font-size: 1.5em;
        font-weight: 200;
        animation: author_entry ($TitleDuration - 1) forwards;
        opacity: 0;
        animation-delay: 1s;
    }

    .introduction__information {
        opacity: 0;
        font-weight: 400;
        font-size: 2em;
        animation: information_entry $TitleDuration forwards;
        animation-delay: ($TitleDuration + 1);
    }

    .introduction__arrow {
        width: 2em;
        animation: arrow_loop ($TitleDuration / 2) infinite;
        animation-delay: ($TitleDuration + 1);
        opacity: 0;
    }
}

// Desktops, large screens
@media screen and (max-width: 1200px) {
  }

// Small screens, laptops
@media screen and (max-width: 1024px) {
  }

// iPads, Tablets
@media screen and (max-width: 768px) {
  }

// Mobile devices
@media screen and (max-width: 480px) {
    .introduction__information {
        font-size: 1.5em;
    }
  }