@keyframes curly_entry {
  0% {
    opacity: 0%;
    transform: translateY(60%);
  }
  30% {
    transform: translateY(0%);
    opacity: 100%;
  }
  70% {
    transform: translateY(0%);
    opacity: 100%;
  }
  100% {
    transform: translateY(40%);
    opacity: 0%;
  }
}

@keyframes author_entry {
  0% {
    opacity: 0%;
    transform: translateY(100%);
  }
  30% {
    transform: translateY(0%);
    opacity: 100%;
  }
  70% {
    transform: translateY(0%);
    opacity: 100%;
  }
  100% {
    transform: translateY(100%);
    opacity: 0%;
  }
}

@keyframes information_entry {
  0% {
    opacity: 0%;
    transform: translateY(100%);
  }
  30% {
    transform: translateY(0%);
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes arrow_loop {
  0% {
    opacity: 0%;
    transform: translateY(0%);
  }
  30% {
    transform: translateY(100%);
    opacity: 100%;
  }
  60% {
    transform: translateY(0%);
    opacity: 100%;
  }
  100% {
    transform: translateY(500%);
    opacity: 0%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  99% {
    opacity: 0%;
  }
  100% {
    display: none !important;
    opacity: 0%;
  }
}

@keyframes fadeIn {
  0% {
    display: none !important;
    opacity: 0%;
  }
  99% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes peopleMoving {
  0% {
    opacity: 0%;
    transform: scale(1.5) translateY(40%);
  }
  10% {
    transform: scale(1.45) translateY(25%) rotate(-5deg);
  }
  20% {
    transform: scale(1.4) translateY(30%);
  }
  30% {
    transform: scale(1.35) translateY(15%) rotate(5deg);
  }
  40% {
    opacity: 100%;
    transform: scale(1.3) translateY(20%);
  }
  50% {
    transform: scale(1.25) translateY(5%) rotate(-5deg);
  }
  60% {
    transform: scale(1.2) translateY(10%);
  }
  70% {
    transform: scale(1.15) translateY(-5%) rotate(5deg);
  }
  80% {
    transform: scale(1.1) translateY(0%);
  }
  90% {
    transform: scale(1.05) translateY(-15%) rotate(-5deg);
  }
  100% {
    transform: scale(1) translateY(-10%) rotate(0deg);
    opacity: 100%;
  }
}

@keyframes leafMoving {
  0% {
    transform: skew(2deg, -2deg);
  }
  50% {
    transform: skew(-2deg, 2deg);
  }
  100% {
    transform: skew(2deg, -2deg);
  }
}

@keyframes eyelid_close {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(180deg);
  }
}

@keyframes eye_close {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes eyes_colour {
  0% {
    fill: black;
  }
  50% {
    fill: black;
  }
  100% {
    fill: gray;
  }
}

@keyframes fade_background {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes smile {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

@keyframes sky {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes sand {
  0% {
    transform: translateX(-100px);
    transform: translateY(-50px);
  }
  100% {
    transform: translateX(50px);
  }
}

@keyframes man_colourchange {
  0% {
    fill: white;
  }
  100% {
    fill: royalblue;
  }
}

@keyframes man_colourchange_dark {
  0% {
    fill: white;
  }
  100% {
    fill: wheat;
  }
}

@keyframes drop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    opacity: 0,5;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes greencrayon {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateY(-20px);
    transform: rotate(30deg);
  }
}

@keyframes pinkcrayon {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(400px);
  }
}

@keyframes orangecrayon {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-40px);
  }
}

@keyframes redcrayon {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(40px);
  }
}

@keyframes yellowcrayon {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateY(80px);
  }
}

@keyframes hearts {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    opacity: 0,5;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

html,
body {
  color: black;
  font-family: 'Bitter', serif;
  height: 100.1vh;
  width: 100%;
  padding: 0;
  margin: 0;
  user-select: none;
  -moz-user-select: none;
}

* {
  user-select: none;
  -moz-user-select: none;
}

.fadeOut {
  animation: fadeOut 1s forwards !important;
}

.fadeIn {
  animation: fadeIn 1s forwards !important;
}

.hidden {
  opacity: 0;
  display: none !important;
}

::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.anim_title {
  animation: curly_entry 6s forwards;
  animation-delay: .5s;
}

.anim_author {
  animation: author_entry 5s forwards;
  animation-delay: 1s;
}

.anim_information {
  animation: information_entry 6s forwards;
  animation-delay: 7s;
}

.anim_arrow {
  animation: arrow_loop 3s infinite;
  animation-delay: 7s;
}

.anim_people {
  animation: peopleMoving 5s forwards ease;
  animation-delay: 1s;
}

.anim_eye_blink {
  transform-origin: 50% 70%;
  animation: eyelid_close 3s forwards ease;
  animation-delay: 1s;
}

.anim_eye_close {
  animation: eye_close 2.5s forwards ease;
  animation-delay: 1s;
}

.anim_eyes_colour path {
  animation: eyes_colour 3s forwards ease;
  animation-delay: 1s;
}

.anim_fade_background {
  animation: fade_background 3s forwards ease;
  animation-delay: 1s;
}

.anim_smile {
  animation: smile 15s forwards ease;
  animation-delay: 1s;
}

.anim_sky {
  animation: sky 5s infinite alternate;
  animation-delay: 1s;
}

.anim_sand {
  animation: sand 5s infinite alternate;
  animation-delay: 1s;
}

.anim_love {
  animation: hearts 15s alternate ease-in-out;
  animation-delay: 1s;
}

.anim_greencrayon {
  animation: greencrayon 10s forwards ease;
}

.anim_pinkcrayon {
  animation: pinkcrayon 10s forwards ease;
  animation-delay: 2s;
}

.anim_orangecrayon {
  animation: orangecrayon 10s forwards ease;
  animation-delay: 1s;
}

.anim_redcrayon {
  animation: redcrayon 10s forwards ease;
  animation-delay: 1s;
}

.anim_yellowcrayon {
  animation: yellowcrayon 10s forwards ease;
}

.anim_crayons {
  animation: drop 15s alternate ease-in-out;
  animation-delay: 1s;
}

.anim_man_fadeIn {
  animation: fadeIn 1s forwards !important;
  animation-delay: 1s;
}

.anim_man_fill_fadeIn {
  animation: fadeIn 1s forwards !important;
}

.anim_man_outline_colour path {
  animation: man_colourchange 1s forwards ease;
}

.anim_man_outline_colour_dark path {
  animation: man_colourchange_dark 1s forwards ease;
}

.black_background {
  background-color: black;
}

.introduction {
  position: absolute;
  display: grid;
  width: 100%;
  height: 101vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.introduction * {
  transition: .5s;
}

.introduction .introduction__title {
  font-size: 4em;
  font-weight: 400;
  font-family: 'Dancing Script', cursive;
  opacity: 0;
}

.introduction .introduction__author {
  font-size: 1.5em;
  font-weight: 200;
  opacity: 0;
}

.introduction .introduction__background {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  z-index: 10;
}

.introduction .introduction__preloader {
  opacity: 1;
  font-weight: 400;
  font-size: 3em;
  z-index: 11;
}

.introduction .introduction__information {
  opacity: 0;
  font-weight: 400;
  font-size: 2em;
}

.introduction .introduction__arrow {
  width: 2em;
  opacity: 0;
}

.loadingOverlay {
  position: fixed;
  bottom: 1em;
  left: 1em;
  width: 10vw;
  height: 2em;
  z-index: 8;
}

.loadingOverlay #loadingOverlay__progress {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.loadingOverlay #loadingOverlay__progress #loadingOverlay__slide {
  position: fixed;
  text-align: center;
  width: 10vw;
  bottom: .5%;
}

.loadingOverlay #loadingOverlay__progress__bar {
  width: 0;
  height: 100%;
  transition: width .2s;
  background-color: #c1d3cb;
}

.loadingOverlay .loadingOverlay__progress__bar--ready {
  background-color: #80ebb9 !important;
}

.slide {
  position: absolute;
  display: grid;
  width: 100%;
  height: 101vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.slide .slide__narration {
  opacity: 0;
  text-align: center;
  position: fixed;
  width: 100%;
  color: white;
  font-weight: 400;
  font-size: 2em;
  z-index: 10;
}

.centeredSvg {
  width: 65vw;
  max-height: 50vh;
  overflow: visible;
}

#slide0 .slide0__background {
  width: 100vw;
  height: 101vh;
  background: url("../Img/slide0_background--desktop.png");
  background-size: cover;
  background-position: center;
}

#slide0 .slide0__people {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

#slide0 .slide0__people img {
  height: 33vh;
  opacity: 0;
}

#slide0 .slide0__trees {
  position: absolute;
  width: 100%;
  height: 100vh;
}

#slide0 .slide0__trees svg {
  position: fixed;
  top: 20vh;
  left: 4vw;
  width: 30vh;
  overflow: visible;
}

#slide0 .slide0__trees .slide0__trees--right {
  top: 40vh;
  right: 7vw;
  left: initial;
}

#slide0 #leaf {
  animation: leafMoving 6s infinite;
}

#slide0 .slide__narration {
  margin-bottom: 50vh;
}

#slide1 .slide1__background {
  width: 100vw;
  height: 101vh;
  background: url("../Img/slide0_background--desktop.png");
  background-size: cover;
  background-position: center;
  z-index: -20;
}

#slide1 .slide1__eyes {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

#slide1 .slide1__eyes #scene1__eyes {
  width: 60vw;
  padding-bottom: 35vh;
  opacity: 0;
  overflow: visible;
}

#slide2 .slide2__smile {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

#slide2 #slide2__smile {
  padding-bottom: 50vh;
}

#slide7 .slide8__sky {
  width: 100vw;
  height: auto;
  margin-top: 0;
  margin-bottom: auto;
}

#slide7 #slide8__sky {
  padding-bottom: 50vh;
}

#slide7 .slide__narration {
  color: rgb(255, 255, 255);
  -webkit-text-stroke: #000;
}

#slide8 .slide9__sand {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}

#slide8 #slide9__sand {
  padding-bottom: 50vh;
}

#slide8 .slide__narration {
  padding-bottom: 50px;
}


#slide10 .slide11__man {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

#slide10 .slide11__man #slide11__man {
  width: 25vh;
  opacity: 0;
  overflow: visible;
}

#slide10 .slide11__man #slide11__man path {
  fill: white;
}

#slide11 .slide12__fill {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  z-index: 10;
}

#slide11 .slide12__fill #slide12__fill {
  width: 21vh;
  opacity: 0;
  overflow: visible;
  padding-top: 8vh;
  padding-left: .565vh;
}

#slide11 .slide12__fill #slide12__fill #slide12__moveFill {
  clip-path: url(#slide12__clipmask);
  height: 100%;
}

#slide11 .slide12__man {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  z-index: 100;
}

#slide11 .slide12__man #slide12__man {
  width: 25vh;
  overflow: visible;
  opacity: 1;
}

#slide11 .slide12__man path {
  fill: white;
}

#slide12 .slide13__fill {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  z-index: 10;
}

#slide12 .slide13__fill #slide13__fill {
  width: 21vh;
  opacity: 0;
  overflow: visible;
  padding-top: 8vh;
  padding-left: .565vh;
}

#slide12 .slide13__fill #slide13__fill #slide13__moveFill {
  clip-path: url(#slide12__clipmask);
  height: 100%;
}

#slide12 .slide13__man {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  z-index: 100;
}

#slide12 .slide13__man #slide13__man {
  width: 25vh;
  overflow: visible;
  opacity: 1;
}

#slide12 .slide13__man path {
  fill: royalblue;
}

#slide13 .slide14__fill {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  z-index: 10;
}

#slide13 .slide14__fill #slide14__fill {
  width: 21vh;
  opacity: 0;
  overflow: visible;
  padding-top: 8vh;
  padding-left: .565vh;
}

#slide13 .slide14__fill #slide14__fill #slide14__moveFill {
  clip-path: url(#slide12__clipmask);
  height: 100%;
}

#slide13 .slide14__man {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  z-index: 100;
}

#slide13 .slide14__man #slide14__man {
  width: 25vh;
  overflow: visible;
  opacity: 1;
}

#slide13 .slide14__man path {
  fill: royalblue;
}

#slide14 .slide15__fill {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  z-index: 10;
}

#slide14 .slide15__fill #slide15__fill {
  width: 21vh;
  opacity: 0;
  overflow: visible;
  padding-top: 8vh;
  padding-left: .565vh;
}

#slide14 .slide15__fill #slide15__fill #slide15__moveFill {
  clip-path: url(#slide12__clipmask);
  height: 100%;
}

#slide14 .slide15__man {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  z-index: 100;
}

#slide14 .slide15__man #slide15__man {
  width: 25vh;
  overflow: visible;
  opacity: 1;
}

#slide14 .slide15__man path {
  fill: royalblue;
}

#slide15 .slide16__crayons {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

#slide15 #slide16__crayons {
  padding-bottom: 50vh;
}

#slide15 #slide16__crayons .slide__narration {
  z-index: -10;

}

#slide16 .slide17__glove {
  width: 100%;
  height: 100%;
}

#slide16 #slide17__glove {
  padding-bottom: 50vh;
}

#slide16 svg {
  max-height: 70%;
}

#slide17 .slide18__love {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

#slide17 #slide18__love {
  padding-bottom: 50vh;
}

#slide17 #slide18__love .slide__narration {
  z-index: -10;
}

#credits {
  opacity: 0;
  color: white !important;
}

#credits .credits__title {
  font-size: 4em;
  font-weight: 100;
  font-family: 'Dancing Script', cursive;
}

#credits .credits__name {
  font-size: 2em;
  font-weight: 200;
}

@media screen and (max-width: 1024px) {
  #slide0 .slide0__background {
    background: url("../Img/slide0_background--tablet.png");
    background-size: cover;
    background-position: center;
  }
  #slide0 .slide0__trees svg {
    left: -96px;
  }
  #slide0 .slide0__trees--right {
    right: -96px !important;
  }
}

@media screen and (max-width: 768px) {
  #slide0 .slide0__background {
    background: url("../Img/slide0_background--tablet.png");
    background-size: cover;
    background-position: center;
  }
  #slide0 .slide0__trees svg {
    left: -72px;
  }
  #slide0 .slide0__trees--right {
    right: -72px !important;
  }
}

@media screen and (max-width: 480px) {
  .introduction .introduction__information {
    font-size: 1.5em;
  }
  .loadingOverlay {
    width: 90vw;
    left: 5vw;
    bottom: 5vw;
    height: 1.5em;
  }
  .loadingOverlay #loadingOverlay__progress #loadingOverlay__slide {
    left: 0;
    width: 100%;
  }
  .slide__narration {
    padding: 0 2em !important;
    width: initial !important;
  }
  #slide0 .slide0__background {
    background: url("../Img/slide0_background--mobile.png");
    background-size: cover;
    background-position: center;
  }
  #slide0 .slide0__trees svg {
    left: -70px;
  }
  #slide0 .slide0__trees--right {
    right: -70px !important;
  }
  #slide1 .slide1__background {
    background: url("../Img/slide0_background--mobile.png");
    background-size: cover;
    background-position: center;
  }
  #slide1 .slide__narration {
    margin-bottom: 50vh;
  }
  #slide1 #scene1__eyes {
    padding-bottom: 0 !important;
  }
}

#slide11 .slide__narration,
#slide12 .slide__narration,
#slide13 .slide__narration,
#slide14 .slide__narration,
#slide15 .slide__narration {
  padding-bottom: 50vh !important;
}
/*# sourceMappingURL=index.css.map */